*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    overflow-x: hidden;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
.head{
    border-top: 10px solid orange;
    position: relative;
    border-bottom: 1px solid orange;
}
.head::before{
    content: '';
    width: 100%;
    height: 1px;
    background-color: orange;
    position: absolute;
    bottom: 70px;
}
.head__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 50px;
    position: relative;
}
.social__list{
    list-style-type: none;
    display: flex;
    gap: 10px;
}
.swiper__info{
    padding-top: 93px;
    padding-bottom: 95px;
}
.sign__button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background: #FE944D;
    border-radius: 50px;
    padding: 20px 75px 21px 76px;
    transition: 0.4s;
    border: 0px;
}
.sign__button:hover{
    transition: 0,4s;
    background: radial-gradient(100% 100% at 45.45% 100%, #FF7E28 0%, #FE944D 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 0px 12px #FF7E28;
    border-radius: 50px;
}
.head__logo a{
    width: 300px;
    height: 50px;
    display: block;
}
.head__logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.head__logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.social__item a{
    color: black;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 70px;
}
.menu li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li a{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    font-variant: small-caps;
}
.swiper-slide{
    box-shadow: inset;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
#swiper__slide1{
    background-image: url(../img/DJI_0132.svg);
    
}
.hero__tittle{
    color: white;
    padding-top: 70px;
    font-size: 100px;
    padding-bottom: 30px;
}
.hero__subtittle{
    color: white;
    font-size: 40px;
}
.desc__info{
    display: flex;
    justify-content: space-between;
    
}
.text__tittle{
    font-size: 45px;
    color: rgb(219, 134, 70);
    padding-bottom: 40px;
    padding-top: 120px;
}
.text__line{
    height: 5px;
    margin-bottom: 40px;
    width: 100px;
    background-color: rgb(219, 134, 70);
}
.text__subtittle{
    font-size: 20px;
    padding-bottom: 100px;
}
.more__button{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background: #FE944D;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 20px 82px 21px 83px;
    border: 0px;
    transition: 0.4s;
}
.more__button:hover{
    transition: 0,4s;
    background: radial-gradient(100% 100% at 45.45% 100%, #FF7E28 0%, #FE944D 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 0px 12px #FF7E28;
    border-radius: 50px;
}
.info__img img{
    position: absolute;
    left: 48%;
}
.image{
    height: 100%;
}
.image img{
    height: 100%;
}
.item{
    position: relative;
}
.content{
    position: absolute;
    bottom: 20px;
}
#swiper__slide2{
    display: flex;
    justify-content: space-between;
    background: radial-gradient(100% 421.98% at 0% 7.42%, #8563CD 0%, #821996 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.swiper__tittle{
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-bottom: 143px;
}
.glide__slide{

    text-align: center;
    font-size: 30px;
    background-color: aqua;
}
.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
    position: absolute;
    right: 50%;
    bottom: -151px;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: orange;
}
.why{
   
    background: radial-gradient(101.22% 383.27% at -1.22% 2.97%, #8563CD 0%, #843E92 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.why__tittle{
    padding-top: 90px;
    padding-bottom: 64px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;  
}
.why__wrap{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 90px;
}
.why__wrap__sec{
    width: 400px;
    height: 400px;
    background: rgba(0, 0, 0, 0.4);
    font-weight: 800;
    font-size: 34px;
    line-height: 41px;
    color: #FFFFFF;
    align-items: center;
    border: 8px solid #E7DAEF;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    text-align: center;
}
#wrap__sec__eng{
    box-shadow: inset;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/SEM05478\ 1.svg);
}
#wrap__sec__qual{
    box-shadow: inset;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/b5a055c767072b24f9027058bcc91881\ 1.svg);
}
#wrap__sec__level{
    box-shadow: inset;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/5e7Sg6sNWjMe9u\ 1.svg);
}
#wrap__sec__inter{
    box-shadow: inset;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/46b8cc6877913b7c3ddb5d5f88f5dab7\ 1.svg);
}
#wrap__sec__home{
    box-shadow: inset;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url();
}
#wrap__sec__comm{
    box-shadow: inset;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url();
}
.swiper{
    height: 100vh;
}
.swiper__text{
    padding-top: 100px;
    padding-bottom: 94px;
}
.swiper__mission{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.1em;
    color: #FE944D;
    padding-bottom: 30px;
}
.swiper__line{
    width: 139px;
    height: 6px;
    margin-bottom: 30px;
    background: #FE944D;
}
.swiper__school{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 30px;
    color: #FFFFFF;
}